@font-face {
  font-family: "iconfont"; /* Project id 5103015 */
  src: url('iconfont.woff2?t=1769706926443') format('woff2'),
       url('iconfont.woff?t=1769706926443') format('woff'),
       url('iconfont.ttf?t=1769706926443') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongguojie1:before {
  content: "\e6a0";
}

.icon-Gc_101_line-FaceRecognition:before {
  content: "\e60b";
}

.icon-wodeyuyue:before {
  content: "\e614";
}

.icon-pingjia:before {
  content: "\e615";
}

.icon-wodewenjuan:before {
  content: "\e764";
}

.icon-beianxinxi:before {
  content: "\e705";
}

.icon-shouye:before {
  content: "\e697";
}

.icon-gerenzhongxin:before {
  content: "\e72a";
}

.icon-yuyuetijian:before {
  content: "\e60f";
}

